# Emacs backup files
*.*~

#ignoring eclipse stuff
.metadata/
.classpath
.project

dk.itu.ssas.project/.settings
dk.itu.ssas.project/build
dk.itu.ssas.project/WebContent/WEB-INF/
dk.itu.ssas.project/WebContent/META-INF/

#
/bin/

# copy script
to_git.sh
from_git.sh
